@charset "UTF-8";
@import url("./font.css");
/* data-scroll */
/* 공통 info 부분 시작*/
.ft_blue {
  color: #7bb7ff;
}

.ft_sblue {
  color: #c3ddfe;
}

.fw900 {
  font-weight: 900;
}

.fw700 {
  font-weight: 700;
}

.fw500 {
  font-weight: 500;
}

.fw300 {
  font-weight: 300;
}

.pt_tel {
  padding: 0 8px 0 15px;
}

input[type=text]:focus,
input[type=password]:focus,
textarea:focus,
select:focus {
  box-shadow: 0 0 5px #7bb7ff;
  border: 1px solid transparent !important;
}

.crm_total_info {
  display: inline-block;
  margin: 2rem 0;
  text-align: center;
}
.crm_total_info span {
  display: inline-block;
}
.crm_total_info .crm_total_count {
  font-size: 5rem;
}
.crm_total_info p {
  display: inline-block;
  font-size: 1.75rem;
}

.crm_info_wrap {
  display: flex;
  margin: 2rem 0;
}

.crm_pf_wrap .crm_pf {
  position: relative;
  width: 8vw;
  height: 8vw;
  max-width: 120px;
  max-height: 120px;
  min-width: 60px;
  min-height: 60px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #7bb7ff;
}
.crm_pf_wrap .crm_pf img,
.crm_pf_wrap .crm_pf span {
  display: block;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.crm_pf_wrap .crm_pf a {
  display: block;
  width: 100%;
  height: 100%;
}
.crm_pf_wrap .crm_pf img {
  z-index: 2;
}
.crm_pf_wrap .crm_pf span {
  font-size: 1rem;
  z-index: 1;
  text-align: center;
}

.crm_info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 4% 2%;
  width: 100%;
}
.crm_info .crm_info_li {
  text-align: center;
  padding: 0 2%;
  border-right: 2px solid #f3f3f3;
}
.crm_info .crm_info_li:last-child {
  border: none;
}
.crm_info .crm_info_li span {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 1.75rem;
}
.crm_info .crm_info_li p {
  font-size: 1rem;
}

.crm_info_detail {
  margin-bottom: 3rem;
}

.crm_info_detail_li {
  padding: 0.8rem 0;
  border-bottom: 2px solid #c3ddfe;
}
.crm_info_detail_li p {
  display: inline-block;
  font-size: 1rem;
}
.crm_info_detail_li p:first-child {
  width: 65px;
  margin-right: 10px;
}
.crm_info_detail_li p.crm_info_detail_type {
  display: inline-flex;
  flex-direction: column;
  padding-left: 1rem;
  border-left: 2px solid rgba(195, 221, 254, 0.5764705882);
}
.crm_info_detail_li p.crm_info_detail_type span {
  padding: 0.4rem 0;
}

#bo_gall {
  width: 80%;
  max-width: 900px;
  margin: 3rem auto;
  text-align: left;
}