@charset 'utf-8';
@use "_common_set" as def;
/* 공통 info 부분 시작*/
.ft_blue {
  color: def.$main_blue;
}
.ft_sblue {
  color: def.$main_skyblue;
}
.fw900 {
  font-weight: 900;
}
.fw700 {
  font-weight: 700;
}
.fw500 {
  font-weight: 500;
}
.fw300 {
  font-weight: 300;
}
.pt_tel {
  padding: 0 8px 0 15px;
}

.top_gap { // 일반 회원일 경우
  margin-top: 10rem !important;
}

// searchs
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  @include def.focus(def.$main_blue);
}

// info
.crm_total_info {
  display: inline-block;
  margin: 2rem 0;
  text-align: center;
  span {
    display: inline-block;
  }
  .crm_total_count {
    font-size: 5rem;
  }
  p {
    display: inline-block;
    font-size: def.$pc_font_rr;
  }
}

//회원 info

.crm_info_wrap {
  display: flex;
  margin: 2rem 0;
}

.crm_pf_wrap {
  .crm_pf {
    position: relative;
    width: 8vw;
    height: 8vw;
    max-width: 120px;
    max-height: 120px;
    min-width: 90px;
    min-height: 90px;
    border-radius: 50%;
    overflow: hidden;
    background-color: def.$main_blue;
    img,
    span {
      display: block;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
    img {
      z-index: 2;
    }
    span {
      font-size: def.$pc_font_r;
      z-index: 1;
      text-align: center;
    }
  }
}

.crm_info {
  @include def.flex(flex-start);
  padding: 4% 2%;
  width: 100%;
  .crm_info_li {
    text-align: center;
    padding: 0 2%;
    border-right: 2px solid def.$light_gray;
    &:last-child {
      border: none;
    }
    span {
      display: inline-block;
      margin-bottom: 4px;
      font-size: def.$pc_font_rr;
    }
    p {
      font-size: def.$pc_font_r;
    }
  }
}
// 상세
.crm_info_detail {
  padding: 0 4% 0 0;
  margin-bottom: 3rem;
}
.crm_info_detail_li {
  padding: 0.8rem 0;
  border-bottom: 2px solid def.$main_skyblue;
  p {
    display: inline-block;
    font-size: def.$pc_font_r;
    &:first-child {
      width: 65px;
      margin-right: 10px;
    }
  }
  p.crm_info_detail_type {
    display: inline-flex;
    flex-direction: column;
    padding-left: 1rem;
    border-left: 2px solid def.$skyblue_op5;
    span {
      padding: 0.4rem 0;
    }
  }
}
//리스트 시작
#bo_gall {
  width: 80%;
  max-width: 900px;
  margin: 3rem auto;
  text-align: left;
}

/* max-width :768px ===============================================================*/
@media (max-width: 768px) {
  .crm_total_info {
    margin: 3vw 0 4vw;
  }
  .crm_info_wrap {
    @include def.flex(center, center, column);
    margin: 7% 0 5%;
  }
  .crm_pf_wrap {
    .crm_pf {
      width: 17vw;
      height: 17vw;
    }
  }
  .crm_info {
    flex-wrap: wrap;
    padding: 9% 2% 3%;
    .crm_info_li {
      padding: 3% 2%;
      width: 50%;

      &:nth-child(odd) {
        border-left: none;
      }

      &:nth-child(even) {
        border-right: none;
      }

      span {
        font-size: def.$mo_font_sl;
      }
      p {
        font-size: def.$mo_font_r;
      }
    }
  }

  .crm_info_detail_li {
    padding: 2vw 0;
    p {
      font-size: def.$mo_font_sr;
      &:first-child {
        width: 19%;
      }
    }
  }
}
