@charset "UTF-8";
@import url("./font.css");
/* data-scroll */
/* list.skin.php custom 시작*/
.ft_blue {
  color: #7bb7ff;
}

.ft_sblue {
  color: #c3ddfe;
}

.fw900 {
  font-weight: 900;
}

.fw700 {
  font-weight: 700;
}

.fw500 {
  font-weight: 500;
}

.fw300 {
  font-weight: 300;
}

input[type=text]:focus,
input[type=password]:focus,
textarea:focus,
select:focus {
  box-shadow: 0 0 5px #7bb7ff;
  border: 1px solid transparent !important;
}

.top_sch_wrap .bo_sch {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.top_sch_wrap form {
  width: 100%;
}
.top_sch_wrap .sch_bar {
  position: relative;
  display: flex;
  width: 100%;
  margin: 20px 0 10px;
}
.top_sch_wrap .sch_bar .sch_btn {
  position: absolute;
  top: 50%;
  left: 20px;
  width: 22px;
  height: 22px;
  transform: translate(0, -50%);
  text-align: center;
}
.top_sch_wrap .sch_bar .sch_btn img {
  width: 100%;
}
.top_sch_wrap .sch_input {
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0 20px 0 60px;
  box-sizing: border-box;
  outline: none;
  -webkit-border: 1px solid transparent;
  border: 1px solid transparent;
  border-radius: 100px;
  background-color: #eee;
  font-size: 0.85rem;
  font-weight: bold;
  color: #232323;
  line-height: 45px;
}
.top_sch_wrap .sch_input::-moz-placeholder {
  font-size: 0.85rem;
  font-weight: bold;
  color: #232323;
  line-height: 45px;
}
.top_sch_wrap .sch_input::placeholder {
  font-size: 0.85rem;
  font-weight: bold;
  color: #232323;
  line-height: 45px;
}

.sch_bar_date .sch_input {
  display: block;
  width: 100%;
  max-width: 180px;
  padding: 0 20px;
  line-height: 40px;
  margin: 10px 10px 10px 0;
  font-size: 0.85rem;
  font-weight: bold;
  color: #232323;
  line-height: 45px;
}
.sch_bar_date .sch_input:focus:focus {
  box-shadow: 0 0 5px #7bb7ff;
  border: 1px solid transparent !important;
}

.sch_select_wrap {
  display: none;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.sch_select_wrap select.sch_input {
  width: 20%;
  height: 50px;
  min-width: 180px;
  margin: 9px 10px 4px 0px;
  padding: 0px 20px;
  font-size: 0.9rem;
  font-weight: bold;
  color: #232323;
  line-height: 50px;
}

#show_detail_sch {
  font-size: 0.9rem;
  padding: 0 20px;
  text-decoration: underline;
}
#show_detail_sch:hover {
  color: #7bb7ff;
}

.crm_total_info {
  display: inline-block;
  margin: 2rem 0;
  text-align: center;
}
.crm_total_info span {
  display: inline-block;
}
.crm_total_info .crm_total_count {
  font-size: 5rem;
}
.crm_total_info p {
  display: inline-block;
  font-size: 1.75rem;
}

.button_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back_to_list {
  display: inline-block;
  padding: 10px 20px 10px 35px;
  font-size: 1rem;
  background: url("../img/back_to.png") no-repeat left center/19% auto;
  transition: 0.4s;
  font-weight: 700;
}
.back_to_list:hover {
  color: #7bb7ff;
  background-image: url("../img/back_to_hov.png");
}

.gall_more {
  position: absolute;
  top: 10px;
  right: 7px;
  width: 17%;
  max-width: 40px;
  z-index: 3;
}
.gall_more a {
  display: block;
  width: 100%;
  height: auto;
}
.gall_more img {
  width: 100%;
}

.gall_pos {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.15);
  font-size: 0.85rem;
}
.gall_pos b {
  color: #fff;
}
.gall_pos span {
  display: inline-block;
  margin-left: 4px;
  color: #232323;
}

.crm_comment {
  width: 27px;
  line-height: 27px;
  position: absolute;
  bottom: 2%;
  right: 2.5%;
}
.crm_comment span {
  display: block;
  height: inherit;
  line-height: inherit;
  color: #7bb7ff;
  font-size: 0.85rem;
  background: url("../img/co_icon.png") no-repeat center bottom -1px/100% auto;
}

.crm_info_wrap {
  display: flex;
  margin: 2rem 0;
}

.crm_pf_wrap .crm_pf {
  position: relative;
  width: 8vw;
  height: 8vw;
  max-width: 120px;
  max-height: 120px;
  min-width: 60px;
  min-height: 60px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #7bb7ff;
}
.crm_pf_wrap .crm_pf img,
.crm_pf_wrap .crm_pf span {
  display: block;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.crm_pf_wrap .crm_pf img {
  z-index: 2;
}
.crm_pf_wrap .crm_pf span {
  font-size: 1rem;
  z-index: 1;
  text-align: center;
}

.crm_info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 4% 2%;
  width: 100%;
}
.crm_info .crm_info_li {
  text-align: center;
  padding: 0 2%;
  border-right: 2px solid #f3f3f3;
}
.crm_info .crm_info_li:last-child {
  border: none;
}
.crm_info .crm_info_li span {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 1.75rem;
}
.crm_info .crm_info_li p {
  font-size: 1rem;
}

#bo_gall {
  width: 80%;
  max-width: 900px;
  margin: 3rem auto;
  text-align: left;
}