@charset "UTF-8";
@import url("./font.css");
/* data-scroll */
/* list.skin.php custom 시작*/
.ft_blue {
  color: #7bb7ff;
}

.ft_sblue {
  color: #c3ddfe;
}

.fw900 {
  font-weight: 900;
}

.fw700 {
  font-weight: 700;
}

.fw500 {
  font-weight: 500;
}

.fw300 {
  font-weight: 300;
}

.pt_tel {
  padding: 0 8px 0 15px;
}

input[type=text]:focus,
input[type=password]:focus,
textarea:focus,
select:focus {
  box-shadow: 0 0 5px #7bb7ff;
  border: 1px solid transparent !important;
}

.top_sch_wrap .bo_sch {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.top_sch_wrap form {
  width: 100%;
}
.top_sch_wrap .sch_bar {
  position: relative;
  display: flex;
  width: 100%;
  margin: 20px 0 10px;
}
.top_sch_wrap .sch_bar .sch_btn {
  position: absolute;
  top: 50%;
  left: 20px;
  width: 22px;
  height: 22px;
  transform: translate(0, -50%);
  text-align: center;
}
.top_sch_wrap .sch_bar .sch_btn img {
  width: 100%;
}
.top_sch_wrap .sch_input {
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0 20px 0 60px;
  box-sizing: border-box;
  outline: none;
  -webkit-border: 1px solid transparent;
  border: 1px solid transparent;
  border-radius: 100px;
  background-color: #eee;
  font-size: 0.85rem;
  font-weight: bold;
  color: #232323;
  line-height: 45px;
}
.top_sch_wrap .sch_input::-moz-placeholder {
  font-size: 0.85rem;
  font-weight: bold;
  color: #232323;
  line-height: 45px;
}
.top_sch_wrap .sch_input::placeholder {
  font-size: 0.85rem;
  font-weight: bold;
  color: #232323;
  line-height: 45px;
}

.sch_bar_date .sch_input {
  display: block;
  width: 180px;
  line-height: 45px;
  padding: 0 20px;
  margin: 10px 10px 10px 0;
  font-size: 0.85rem;
  font-weight: bold;
  color: #232323;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  text-align: left;
}
.sch_bar_date .sch_input:focus:focus {
  box-shadow: 0 0 5px #7bb7ff;
  border: 1px solid transparent !important;
}

.sch_select_wrap {
  display: none;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.sch_select_wrap select.sch_input {
  width: 20%;
  height: 50px;
  min-width: 180px;
  margin: 9px 10px 4px 0px;
  padding: 0px 20px;
  font-size: 0.9rem;
  font-weight: bold;
  color: #232323;
  line-height: 50px;
}

#show_detail_sch {
  font-size: 0.9rem;
  padding: 0 20px;
  text-decoration: underline;
}
#show_detail_sch:hover {
  color: #7bb7ff;
}

.button_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back_to_list {
  display: inline-block;
  padding: 10px 20px 10px 35px;
  font-size: 1rem;
  background: url("../img/back_to.png") no-repeat left center/19% auto;
  transition: 0.4s;
  font-weight: 700;
}
.back_to_list:hover {
  color: #7bb7ff;
  background-image: url("../img/back_to_hov.png");
}

.gall_more {
  position: absolute;
  top: 10px;
  right: 7px;
  width: 17%;
  max-width: 40px;
  z-index: 3;
}
.gall_more a {
  display: block;
  width: 100%;
  height: auto;
}
.gall_more img {
  width: 100%;
}

.gall_pos {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.15);
  font-size: 0.85rem;
}
.gall_pos b {
  color: #fff;
}
.gall_pos span {
  display: inline-block;
  margin-left: 4px;
  color: #232323;
}

.crm_comment {
  width: 27px;
  line-height: 27px;
  position: absolute;
  bottom: 2%;
  right: 2.5%;
}
.crm_comment span {
  display: block;
  height: inherit;
  line-height: inherit;
  color: #7bb7ff;
  font-size: 0.85rem;
  background: url("../img/co_icon.png") no-repeat center bottom -1px/100% auto;
}

#bo_gall {
  width: 80%;
  max-width: 900px;
  margin: 6rem auto;
  text-align: left;
}

/* max-width :1024px ==============================================================*/
/* max-width :768px ===============================================================*/
@media (max-width: 768px) {
  #bo_gall {
    width: 90%;
  }
  #bo_gall .gall_li {
    margin: 0.5%;
    width: 49%;
  }
  #bo_gall .gall_img p {
    font-size: 2.65vw;
  }
  .gall_pos {
    font-size: 3.2vw;
  }
  .gall_more {
    width: 15%;
  }
  .crm_comment {
    width: 5.5vw;
    line-height: 5.5vw;
    bottom: 3%;
    right: 3.5%;
  }
  .crm_comment span {
    font-size: 2.3vw;
  }
}