@charset 'utf-8';

/* list.skin.php custom 시작*/
// common
@mixin focus($color) {
  -webkit-box-shadow: 0 0 5px $color;
  -moz-box-shadow: 0 0 5px $color;
  box-shadow: 0 0 5px $color;
  border: 1px solid transparent !important;
}
// common var
$main_blue: #7bb7ff;
$main_skyblue: #c3ddfe;

.ft_blue {
  color: $main_blue;
}
.ft_sblue {
  color: $main_skyblue;
}
.fw900 {
  font-weight: 900;
}
.fw700 {
  font-weight: 700;
}
.fw500 {
  font-weight: 500;
}
.fw300 {
  font-weight: 300;
}
// searchs
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  @include focus($main_blue);
}

.top_sch_wrap {
  .bo_sch {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  form {
    width: 100%;
  }
  .sch_bar {
    position: relative;
    display: flex;
    width: 100%;
    margin: 20px 0 10px;
    .sch_btn {
      position: absolute;
      top: 50%;
      left: 20px;
      width: 22px;
      height: 22px;
      transform: translate(0, -50%);
      text-align: center;
      img {
        width: 100%;
      }
    }
  }
  .sch_input {
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0 20px 0 60px;
    box-sizing: border-box;
    outline: none;
    -webkit-border: 1px solid transparent;
    border: 1px solid transparent;
    border-radius: 100px;
    background-color: #eee;
    font-size: 0.9rem;
    font-weight: bold;
    color: #232323;
    line-height: 45px;
    &::placeholder {
      font-size: 0.9rem;
      font-weight: bold;
      color: #232323;
      line-height: 45px;
    }
  }
}
// select
.sch_bar_date {
  .sch_input {
    display: block;
    width: 100%;
    max-width: 180px;
    padding: 0 20px;
    line-height: 40px;
    margin: 10px 10px 10px 0;
    font-size: 0.9rem;
    font-weight: bold;
    color: #232323;
    line-height: 45px;
    &:focus {
      &:focus {
        @include focus($main_blue);
      }
    }
  }
}
.sch_select_wrap {
  display: none;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  select.sch_input {
    width: 20%;
    height: 50px;
    min-width: 180px;
    margin: 9px 10px 4px 0px;
    padding: 0px 20px;
    font-size: 0.9rem;
    font-weight: bold;
    color: #232323;
    line-height: 50px;
  }
}

#show_detail_sch {
  font-size: 0.9rem;
  padding: 0 20px;
  text-decoration: underline;
  &:hover {
    color: $main_blue;
  }
}

// info
.crm_info {
  width: 120px;
  text-align: center;
  margin: 3rem 0 2rem;
  span {
    display: inline-block;
  }
  .crm_total_count {
    font-size: 5rem;
  }
  p {
    font-size: 1.2rem;
  }
}

// buttons
.button_wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// list

.back_to_list {
  display: inline-block;
  padding: 10px 20px 10px 35px;
  font-size: 1rem;
  background: url("../img/back_to.png") no-repeat left center/19% auto;
  transition: 0.4s;
  font-weight: 700;
  &:hover {
    color: $main_blue;
    background-image: url("../img/back_to_hov.png");
  }
}
#bo_gall {
  width: 80%;
  max-width: 900px;
  margin: 3rem auto;
}
