@charset 'utf-8';
@use "_common_set" as def;

#crm_nav {
  position: fixed;
  top: 0;
  left: 50%;
  width: 80%;
  height: 105px;
  max-width: 900px;
  padding: 2rem 1rem;
  transform: translate(-50%, 0%);
  z-index: 9;
  transition: all 0.4s;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  @include def.flex(space-between);
  ul {
    height: 100%;
    li {
      height: inherit;
    }
    img {
      height: inherit;
    }
    a {
      display: block;
      height: inherit;
    }
  }

  // fixed

  &.fixed {
    height: 68px;
    padding: 1rem 0;
  }
}
#crm_logo {
  height: 100%;
  width: auto;
  h1 {
    height: inherit;
  }
  a {
    display: block;
    height: inherit;
    img {
      height: inherit;
      width: auto;
    }
  }
}
.chart_ico {
  width: 40px;
}
